<html>
    <head>
        <meta charset="utf-8">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <style>
            #app { padding: 30px; margin: 30px auto; max-width: 600px;
                border: 1px solid #ccc; box-shadow: 3px 3px 3px #aaa; }
            input { padding: 5px ; margin: 5px; }
            button { padding: 5px ; margin: 5px ; width: 50px ;}
            .items { display: inline-block; margin: 5px; padding: 8px 15px;
                border: 1px solid black; }
        </style>
    </head>
    <body>
        <div id='app'>
            <input type="text" v-model="num" />
            <button v-on:click="arrayCreate()">생성</button>
            <div style="margin-left: 10px">
                <span class="items" v-for="item in array" >{{ item }}</span>
            </div>
        </div>

        <script>
            new Vue({
                el: '#app',
                data: {
                    num: 0,
                    array: []
                },
                methods: {
                    arrayCreate() {
                        this.array = [];
                        for(let i = 0 ; i < this.num ; i++)
                            this.array[i] = Math.floor(Math.random() * 10);
                        this.$forceUpdate();
                    }
                }
            })
        </script>
    </body>
</html>